<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div ng-app="myCalculator" ng-controller="myControll">
      <div id="output">
        <div id="display1" type="number" ng-model="a">{{ opNumb }}</div>
        <div id="display2" type="number" ng-model="b">{{ numb }}</div>
      </div>
      <br />
      <div id="keys-calculator">
        <button id="clear" ng-click="clear()" value="AC">AC</button>
        <button id="delete" ng-click="delete()" value="DEL">DEL</button>
        <button id="number" ng-click="upper(1)" value="1">1</button>
        <button id="number" ng-click="upper(2)" value="2">2</button>
        <button id="number" ng-click="upper(3)" value="3">3</button>
        <button id="number" ng-click="upper(4)" value="4">4</button>
        <button id="number" ng-click="upper(5)" value="5">5</button>
        <button id="number" ng-click="upper(6)" value="6">6</button>
        <button id="number" ng-click="upper(7)" value="7">7</button>
        <button id="number" ng-click="upper(8)" value="8">8</button>
        <button id="number" ng-click="upper(9)" value="9">9</button>
        <button id="number" ng-click="upper(0)" value="0">0</button>
        <button id="operator" ng-click="upper('+')" value="+">+</button>
        <button id="operator" ng-click="upper('-')" value="-">-</button>
        <button id="operator" ng-click="upper('*')" value="*">*</button>
        <button id="operator" ng-click="upper('/')" value="/">/</button>
        <button id="operator" ng-click="upper('.')" value=".">.</button>
        <button id="equal" ng-click="evaluate()">=</button>
        <button id="answer" ng-click="upperAnswer()">Ans</button>
      </div>
    </div>
  </body>
  <script>
    angular
      .module("myCalculator", [])
      .controller("myControll", function ($scope) {
        $scope.opNumb = "";
        $scope.numb = "";
        $scope.answer = "";
        $scope.upperAnswer = function () {
          $scope.opNumb = $scope.opNumb;
        };

        $scope.upper = function (value) {
          $scope.opNumb += value;
        };

        $scope.evaluate = function () {
          $scope.numb = eval($scope.opNumb);
          $scope.opNumb = $scope.numb;
          $scope.numb = "";
        };

        $scope.delete = function () {
          $scope.opNumb = $scope.opNumb.substring(0, $scope.opNumb.length - 1);
        };

        $scope.clear = function () {
          $scope.opNumb = "";
          $scope.numb = "";
        };
      });
  </script>
</html>
